table.tablesorter thead tr .header {
    background-image: url("../img/bg.gif");
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 10px 0px 10px 25px;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("../img/desc.gif");
}

.widget_table {
	border-collapse: collapse;
}

.widget_table thead tr th {
	padding: 0px 40px;

}

.widget_table tbody tr td {
	padding: 10px 55px;
	text-align: justify;
	border-bottom: 1px solid lightgray;
}

#screen-meta-links {
	display: none;
}

.postbox {
	width: 98%;
}
